<!DOCTYPE html>

<html lang="en">

<head>
    <title>Pizza and Sadness - {{ post.title }} - {{ post.keywords }}</title>
    <link rel="shortcut icon" href="https://i.imgur.com/uuR7Utz.png">
    <link rel="canonical" href="https://pizzaandsadness.netlify.app/blogarchive/{{ post.index }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="pizza and sadness, webcomic, {{ post.keywords }}">
    <meta name="description"
        content="{{ post.title }} - Pizza and Sadness - Historias for Lost Souls. {{ post.keywords }}">
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@GCarregha">
    <meta name="twitter:creator" content="@GCarregha">
    <meta name="twitter:title" content="Pizza and Sadness - {{ post.title }}">
    <meta name="twitter:image:src" content="{{ post.image }}">
    <meta name="twitter:domain" content="https://pizzaandsadness.netlify.app">
    <meta property="og:image" content="{{ post.image }}">
    <meta property="og:title" content="Pizza and Sadness - {{ post.title }}">
    <meta property="og:url" content="https://pizzaandsadness.netlify.app/blogarchive/{{ post.index }}">
    <meta property="og:site_name" content="Pizza and Sadness">
    <meta property="og:type" content="profile">
    <meta property="og:description"
        content="Pizza and Sadness - Historias for Lost Souls.">
    <style>
        .navbar-dark {
            background-color: black !important;
        }
    </style>
</head>

<body itemscope itemtype="http://schema.org/ComicStory">
    <h1 class="d-none">Pizza and Sadness - {{ post.title }} - {{ post.keywords }}</h1>
    <nav class="navbar navbar-expand navbar-dark mb-3">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="img-fluid" src="https://i.imgur.com/DcOyWHG.png"
                    alt="Pizza and Sadness"></a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/archive">
                    📁<span class="d-none d-sm-inline">Archive</span>
                </a>
                <a class="nav-item nav-link" href="/blog">
                    📔<span class="d-none d-sm-inline">Blog</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <div class="text-left">
            <a href="https://www.facebook.com/PizzaAndSadness"><img class="float-left mr-2"
                    src="https://i.imgur.com/2GTN8n7.png" alt="Pizza and Sadness"></a>
            <p class="h5"><a href="https://www.facebook.com/PizzaAndSadness">Pizza and Sadness</a>: <span
                    itemprop="name">{{ post.title }}</span></p>
            <p><small class="text-muted">Posted: {{ post.posted.toDateString() }}</small></p>
            {{ raw(post.content) }}
        </div>
        <hr>
    </div>
</body>

</html>
